@font-face {
  font-family: "prueba";
  src: url(../fonts/mystery-quest.woff2);
}
caption {
  background-color: black;
  color: white;
}
table {
  font-family: "prueba";
  color: gray;
  background-color: white;
}
table:hover{
  background: url(../img/cat-spinning.gif) no-repeat center center fixed;
  background-size: 40% 45%;
  background-position-y: 20px;
  background-position-x: center;
}
body {
  background: url(../img/cat-donce.gif) no-repeat center center fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  align-items: center;
}
img:hover {
  image-resolution: 512 512;
}
